body
{
background-image: url(https://cdn.pixabay.com/photo/2018/04/28/22/03/dawn-3358468_960_720.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
h1
{
border: 3px inset grey;
border-radius: 5px 5px 5px 5px;
display: flex;
justify-content: center;
width: 40%;
color: white;
}
header
{
display: flex;
justify-content: center;
}
main
{
display: flex;
flex-direction: column;
}
#boutons
{
display: flex;
width: 100%;
justify-content: center;
}
#start
{
border: 1px outset white;
border-radius: 5px 5px 5px 5px;
background-color: #99f19e;
width: 200px;
height: 55px;
margin-right: 15px;
font-variant: small-caps;
font-size: 25px;
}
/*#pause
{
border: 1px outset white;
border-radius: 5px 5px 5px 5px;
background-color: #fdc23e;
width: 200px;
height: 55px;
margin-right: 15px;
font-variant: small-caps;
font-size: 25px;
}*/
#stop
{
border: 1px outset white;
border-radius: 5px 5px 5px 5px;
background-color: #ff7761;
width: 200px;
height: 55px;
font-variant: small-caps;
font-size: 25px;
}
input
{
/*opacity: 0;*/
width: 15px;
}
#time
{
display: flex;
justify-content: center;
padding-top: 70px;
}
#acteurs
{
font-variant: small-caps;
font-size: 40px;
display: flex;
justify-content: center;
padding-top: 70px;
}